body {
  margin: 0;
}

#main-map {
  height: 100%;
}

/* polygons and linestrings are invisible by default */
path {
  stroke: none;
  fill: none;
}

/*** START OF MAP STYLES ***/
:root {
  --border: darkred;
  --protected-lands: green;
  --water: #5ac5e3;
}

/* BOUNDARIES */
.kind-country {
  stroke: var(--border);
}

.kind-county {
  stroke: var(--border);
  stroke-dasharray: 1 1;
}

.kind-macroregion {
  stroke: var(--border);
  stroke-width: 0.7;
}

.kind-region {
  stroke: var(--border);
  stroke-width: 0.5;
}

/* BUILDINGS only polygons */
.kind-building_part {
  fill: plum;
}

.kind-building {
  fill: plum;
}

/* LANDUSE
 * missing:
 *    aerodrome
 *    allotments
 *    amusement_ride
 *    animal
 *    apron
 *    aquarium
 *    artwork
 *    attraction
 *    aviary
 *    battlefield
 *    beach
 *    breakwater
 *    bridge
 *    camp_site
 *    caravan_site
 *    carousel
 *    cinema
 *    city_wall
 *    college
 *    common
 *    cutline
 *    dam - polygon, line
 *    dike
 *    dog_park
 *    enclosure
 *    farm
 *    farmland
 *    farmyard
 *    fence
 *    footway
 *    fort
 *    fuel
 *    garden
 *    gate
 *    generator
 *    glacier
 *    golf_course
 *    grass
 *    grave_yard
 *    groyne
 *    hanami
 *    hospital
 *    land
 *    library
 *    maze
 *    military
 *    national_park
 *    nature_reserve
 *    natural_forest - See planned bug fix in #1096.
 *    natural_park - See planned bug fix in #1096.
 *    natural_wood - See planned bug fix in #1096.
 *    pedestrian
 *    petting_zoo
 *    picnic_site
 *    pier
 *    pitch
 *    place_of_worship
 *    plant
 *    playground
 *    prison
 *    protected_area
 *    quarry
 *    railway
 *    recreation_ground
 *    recreation_track
 *    resort
 *    rest_area
 *    retail
 *    retaining_wall
 *    rock
 *    roller_coaster
 *    runway
 *    rural
 *    school
 *    scree
 *    service_area
 *    snow_fence
 *    sports_centre
 *    stadium
 *    stone
 *    substation
 *    summer_toboggan
 *    taxiway
 *    theatre
 *    theme_park
 *    tower
 *    trail_riding_station
 *    university
 *    urban
 *    village_green
 *    wastewater_plant
 *    water_park
 *    water_slide
 *    water_works
 *    wetland
 *    wilderness_hut
 *    wildlife_park
 *    winery
 *    winter_sports
 *    wood
 *    works
 *    zoo
 */

.kind-cemetery {
  fill: darkgrey;
}

.kind-commercial {
  fill: #bbd5d2;
}

.kind-farmland {
  fill: palegoldenrod;
}

.kind-forest {
  fill: #add19e;
}

.kind-grass {
  fill: lightgreen;
}

.kind-graveyard {
  fill: darkgrey;
}

.kind-industrial {
  fill: #d5cfbb;
}

.kind-meadow {
  fill: palegreen;
}

.kind-national_park {
  fill: var(--protected-lands);
  opacity: 0.5;
}

.kind-park {
  fill: springgreen;
}

.kind-parking {
  fill: white;
}

.kind-protected_area {
  fill: var(--protected-lands);
  opacity: 0.5;
}

.kind-residential {
  fill: silver;
}

.kind-scrub {
  fill: #83a647;
}

.kind-urban_area {
  fill: darkgrey;
}

/* PLACES hidden */
/* POIS hidden */

/* ROADS
 * missing: aerialway, ferry, piste, racetrack
 */

.kind-aeroway {
  stroke: darkgrey;
  stroke-width: 3px;
}

.kind-highway {
  stroke: crimson;
  stroke-width: 2px;
}

.kind-major_road {
  stroke: orange;
  stroke-width: 1px;
}

.kind-minor_road {
  stroke: white;
  stroke-width: 1px;
}

.kind-path {
  stroke: brown;
  stroke-width: 0.4px;
}

.kind-rail {
  stroke: black;
  stroke-width: 0.5.px;
}

/* TRANSIT hidden */

/* WATER
 * excluded: playa
 */

/* do not fill water boundaries */
.boundary {
  fill: none !important;
}

.kind-basin {
  fill: var(--water);
}

.kind-canal {
  stroke: var(--water);
}

.kind-ditch {
  stroke: var(--water);
}

.kind-dock  {
  fill: var(--water);
}

.kind-drain {
  stroke: var(--water);
}

.kind-lake {
  fill: var(--water);
}

.kind-ocean {
  fill: var(--water);
}

.kind-river {
 stroke: var(--water);
}

.kind-riverbank {
 fill: var(--water);
}

.kind-stream {
  stroke: var(--water);
}

.kind-swimming_pool {
  fill: var(--water);
}

.kind-water {
  fill: var(--water);
}

/*** END OF MAP STYLES ***/
