body {
  margin: 0;
}

svg {
  background-color: #5ac5e3;
}

#main-map {
  height: 100%;
}

/* polygons and linestrings are invisible by default */
path {
  display: none;
  fill: transparent;
}

/*** LANDUSE ***/
.kind-forest {
  display: inherit;
  fill: #add19e;
}

.kind-farmland {
  display: inherit;
  fill: #fbecd7;
}

.kind-park {
  display: inherit;
  fill: #c8facc;
}

.kind-residential {
  display: inherit;
  fill: #ccc;
}

/*** WATER ***/

.kind-river {
  display: inherit;
  stroke: #5ac5e3;
  stroke-width: 2px;
}

.kind-stream {
  display: inherit;
  stroke: #5ac5e3;
}

/* filling water needs more work */

.kind-water {
  display: inherit;
  stroke: #5ac5e3;
  fill: #5ac5e3;
}

.kind-water.boundary {
  fill: transparent;
}

/*** ROADS ***/

.kind-highway {
  display: inherit;
  stroke: white;
  stroke-width: 2px;
}

.kind-major_road {
  display: inherit;
  stroke: orange;
}

.kind-minor_road {
  display: inherit;
  stroke: white;
}

.kind-rail {
  display: inherit;
  stroke: #000;
  stroke-width: 0.5px;
}

.kind-earth {
  display: inherit;
  fill: #eee;
}

.kind-ocean {
  display: inherit;
  fill: purple;
}

.kind-ocean.boundary {
  fill: none;
}
